@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- App Styles --- */
body {
  background-color: #F8FAFC;
  color: #0f172a;
}

.text-stroke-black {
  -webkit-text-stroke: 2px black;
  color: transparent;
}

.text-stroke-white {
  -webkit-text-stroke: 2px white;
}

.text-stroke-sm {
  -webkit-text-stroke: 1px black;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Custom Range Slider */
input[type=range] {
  -webkit-appearance: none;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #facc15;
  border: 3px solid black;
  cursor: pointer;
  margin-top: -12px;
  box-shadow: 3px 3px 0px black;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #000;
  border-radius: 5px;
  border: 2px solid black;
}
